<a href="https://colab.research.google.com/github/raklives/practice-projects/blob/master/identifying_semi_structured_and_unstructured_dataIipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import needed libraries
import pandas as pd

In [0]:
# load data as campaign_data
campaign_data = pd.read_csv('data.csv')

In [5]:
# check head
campaign_data.head()

       Campaign Data
views          likes
90006            402
101141           389
97297            403
117182           397

In [0]:
# read in the data again, this time specifying the rows
campaign_data = pd.read_csv("data.csv", header = 1)

In [7]:
# check head
campaign_data.head()

    views  likes
0   90006    402
1  101141    389
2   97297    403
3  117182    397
4   99637    404

In [8]:
# check the tail
campaign_data.tail()

     views  likes
95  100464    391
96   96382    387
97   94971    389
98  103070    410
99  110387    411

In [9]:
# check the datafram to see if anything is off with the dataframes
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
views    100 non-null int64
likes    100 non-null int64
dtypes: int64(2)
memory usage: 1.7 KB

In [10]:
# did we loose any rows or columns when we specified the header columns
campaign_data.shape

(100, 2)

In [0]:
# now let's check sales data set

In [0]:
# read into a dataframe
sales = pd.read_excel('sales.xlsx')

In [15]:
# check shape
sales.shape

(65535, 26)

In [14]:
# check first row
sales.head()

   Year  Product       line Product.1  ... profit Unit.2 sale price.1
0  2004  Camping  Equipment   Cooking  ...    NaN    NaN  NaN     NaN
1  2004  Camping  Equipment   Cooking  ...    NaN    NaN  NaN     NaN
2  2004  Camping  Equipment   Cooking  ...    NaN    NaN  NaN     NaN
3  2004  Camping  Equipment   Cooking  ...    NaN    NaN  NaN     NaN
4  2004  Camping  Equipment   Cooking  ...    NaN    NaN  NaN     NaN

[5 rows x 26 columns]

In [16]:
# are any values missing? what type of data do we have?
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 26 columns):
Year         65535 non-null int64
Product      65535 non-null object
line         65535 non-null object
Product.1    65535 non-null object
type         65535 non-null object
Product.2    65535 non-null object
Order        65535 non-null object
method       61083 non-null object
type.1       46709 non-null object
Retailer     32525 non-null object
country      24135 non-null object
Revenue      21494 non-null object
Planned      20925 non-null object
revenue      20645 non-null object
Product.3    20588 non-null object
cost         19224 non-null float64
Quantity     13663 non-null float64
Unit         7046 non-null float64
cost.1       2403 non-null float64
Unit.1       650 non-null float64
price        233 non-null float64
Gross        46 non-null float64
profit       4 non-null float64
Unit.2       0 non-null float64
sale         0 non-null float64
price.1      0 non-null float64
dtypes: float64(11), int64(1), object(14)
memory usage: 13.0+ MB

In [0]:
# we have some issues with some columns
# noticing some columns that would typically be floats appear as objects
# signs that something went weird when the data was being split
# also noticed that some of the columns names seem split into two different column
# for examples: Product Line, Product Type, Planned Revenue, Product cost, and more

In [17]:
# so seems like our column names are all messed up
# let's reread them
sales = pd.read_excel("sales.xlsx", names = ["Year", "Product line", "Product type",
                                             "Product", "Order method type",
                                             "Retailer Country", "Revenue",
                                             "Planned revenue",
                                             "Product cost", "Quantity",
                                             "Unit cost", "Unit price",
                                             "Gross Profit", "Unit sale price"])

ValueError: ignored

In [0]:
# this data is too unstructured to be read into a pandas dataframe
# we need to understand how pandas reads in objects