<a href="https://colab.research.google.com/github/raklives/personal-projects/blob/master/intro_tro_python_for_marketers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import library
import pandas as pd # basically a version of excel for python

In [0]:
# read in our data file 
# comma not needed
ksmdata = pd.read_csv('most_backed.csv', sep=',')

In [9]:
# preview the first 10
ksmdata.head()

   Unnamed: 0  ...                                                url
0           0  ...                /projects/elanlee/exploding-kittens
1           1  ...   /projects/antsylabs/fidget-cube-a-vinyl-desk-toy
2           2  ...  /projects/readingrainbow/bring-reading-rainbow...
3           3  ...  /projects/559914737/the-veronica-mars-movie-pr...
4           4  ...         /projects/doublefine/double-fine-adventure

[5 rows x 13 columns]

In [6]:
# how many rows and columns 
ksmdata.shape

(4000, 13)

In [10]:
# add .info() give you a bunch of information about the data
ksmdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
Unnamed: 0          4000 non-null int64
amt.pledged         4000 non-null float64
blurb               4000 non-null object
by                  4000 non-null object
category            4000 non-null object
currency            4000 non-null object
goal                4000 non-null float64
location            4000 non-null object
num.backers         4000 non-null int64
num.backers.tier    4000 non-null object
pledge.tier         4000 non-null object
title               4000 non-null object
url                 4000 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 406.4+ KB

In [11]:
# use .desribe() to look at descriptive analysis of the sample data numeric data
ksmdata.describe()

        Unnamed: 0   amt.pledged          goal    num.backers
count  4000.000000  4.000000e+03  4.000000e+03    4000.000000
mean   1999.500000  2.899923e+05  6.175203e+04    3582.875750
std    1154.844867  7.119369e+05  1.266715e+05    7316.102809
min       0.000000  1.925000e+03  1.000000e+00    1109.000000
25%     999.750000  6.771300e+04  1.300000e+04    1406.750000
50%    1999.500000  1.205860e+05  3.000000e+04    1946.000000
75%    2999.250000  2.593680e+05  6.000000e+04    3372.000000
max    3999.000000  2.033899e+07  2.000000e+06  219382.000000

In [17]:
# use head to see first five of the data
ksmdata.head()
# things spotted
# Unnamed: 0 for a title
# amt.pledged column look like floats but could be changed to integers because
# all values end in .0
# blurb column values have \n infront of some values
# columns with square brackets are actually numbers

   Unnamed: 0  ...                                                url
0           0  ...                /projects/elanlee/exploding-kittens
1           1  ...   /projects/antsylabs/fidget-cube-a-vinyl-desk-toy
2           2  ...  /projects/readingrainbow/bring-reading-rainbow...
3           3  ...  /projects/559914737/the-veronica-mars-movie-pr...
4           4  ...         /projects/doublefine/double-fine-adventure

[5 rows x 13 columns]

In [16]:
# look at a single column
ksmdata['Unnamed: 0']

0          0
1          1
2          2
3          3
4          4
        ...
3995    3995
3996    3996
3997    3997
3998    3998
3999    3999
Name: Unnamed: 0, Length: 4000, dtype: int64